/* GENRAL SETTINGS */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
strong,
li,
span,
h1,
h2,
h3,
h4,
a,
button {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
li,
i,
button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.container-lg {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-fluid {
  width: calc((100% / 12) * 12);
}

.flex {
  display: flex;
}

.btn {
  background-color: var(--navbar-bg);
  color: white;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #47a1fc;
}

.text-center {
  text-align: center;
}

:root {
  --navbar-bg: #0084fd;
  --hero-cards-bg: #b5ddff;
  --brand-color: #9792e4;
  --footer-title-color: #fdc15f;
  --text-color: #333333;
}

/* NAVBAR */

.navbar {
  background-color: var(--navbar-bg);
}

.navbar ul {
  display: none;
}

.navbar .flex {
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  width: 55px;
}

.navbar .fa-bars {
  color: white;
}

/* HERO SECTION */
.hero-container {
  padding: 30px;
}
.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.btn i.fa-apple {
  color: white;
  font-size: 20px;
}

.hero-container .row {
  row-gap: 30px;
}

.hero-card {
  flex-direction: column;
  background-color: var(--hero-cards-bg);
  padding: 30px 30px;
  gap: 50px;
  border-radius: 20px;
}

.hero-card.pb-0 {
  padding-bottom: 0px;
}

.hero-card h2 {
  color: var(--navbar-bg);
  white-space: nowrap;
  font-size: 1.35rem;
}

.hero-card figure img {
  display: block;
}

.hero-text {
  flex-direction: column;
  gap: 50px;
}

.hero-text i.fa-solid {
  color: var(--navbar-bg);
  font-size: 100px;
  height: 50px;
  align-self: center;
  margin-top: 50px;
}

.hero-text p {
  font-size: 1rem;
}

.hero-text a {
  align-self: center;
}

/* MEDIA */

@media (min-width: 150px) {
  .hero-container .col-8 {
    width: 100%;
  }
  .hero-container .col-4 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero-container .col-8 {
    width: calc((100% / 12) * 8 - 16px);
  }
  .hero-container .col-4 {
    width: calc((100% / 12) * 4 - 16px);
  }

  .hero-card {
    height: 100%;
  }

  .hero-container .row {
    justify-content: space-between;
  }

  .btn {
    width: auto;
    padding: 5px 50px;
  }

  .hero-text a {
    align-self: flex-start;
  }

  .hero-img img {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .navbar ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navbar ul li {
    color: white;
    transition: 0.3s color;
  }

  .navbar ul li:hover {
    color: var(--brand-color);
  }

  .navbar i {
    display: none;
  }

  .navbar .btn {
    line-height: 1;
    background-color: white;
    color: var(--text-color);
    padding: 8px 10px;
  }
  .navbar .btn:hover {
    background-color: var(--text-color);
    color: white;
  }

  .hero-card {
    flex-direction: row;
  }
  .hero-card figure {
    align-self: flex-end;
  }
  .hero-card img {
    width: 100%;
  }
}
