/* GENRAL SETTINGS */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p,
strong,
li,
span,
h1,
h2,
h3,
h4,
a,
button {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
li,
button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 65.625rem;
  margin: 0 auto;
}

.container-lg {
  width: 100%;
  max-width: 71.875rem;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  max-width: 53.125rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-fluid {
  width: calc((100% / 12) * 12);
}

.flex {
  display: flex;
}

.btn {
  background-color: var(--navbar-bg);
  color: white;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
  border-radius: 1.25rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #47a1fc;
}

.text-center {
  text-align: center;
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}

.bg-black {
  background-color: var(--text-color);
}

.bg-brand {
  background-color: var(--brand-color);
}

.link {
  text-decoration: underline;
  transition: 0.3s all;
}

.link:hover {
  color: var(--footer-title-color);
}

:root {
  --navbar-bg: #0084fd;
  --hero-cards-bg: #b5ddff;
  --brand-color: #9792e4;
  --footer-title-color: #fdc15f;
  --text-color: #333333;
}

/* NAVBAR */

.navbar {
  background-color: var(--navbar-bg);
}

.navbar ul {
  display: none;
}

.navbar .flex {
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
}

.navbar i.fa-bars {
  cursor: pointer;
}

.logo {
  width: 3.4375rem;
}

.navbar .fa-bars {
  color: white;
}

/* HERO SECTION */
.hero-container {
  padding: 1.875rem;
}
.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

.btn i.fa-apple {
  color: white;
  font-size: 1.25rem;
}

.hero-container .row {
  row-gap: 1.875rem;
}

.hero-card {
  flex-direction: column;
  background-color: var(--hero-cards-bg);
  padding: 1.875rem 1.875rem;
  gap: 3.125rem;
  border-radius: 1.25rem;
}

.hero-card.pb-0 {
  padding-bottom: 0rem;
}

.hero-card h2 {
  color: var(--navbar-bg);
  font-size: 1.35rem;
}

.hero-card figure img {
  display: block;
}

.hero-text {
  flex-direction: column;
  gap: 3.125rem;
}

.hero-text i.fa-solid {
  color: var(--navbar-bg);
  font-size: 6.25rem;
  height: 3.125rem;
  align-self: center;
  margin-top: 3.125rem;
}

.hero-text p {
  font-size: 1rem;
}

.hero-text a {
  align-self: center;
}

/* PLANNING SECTION */

.planning-section {
  background-color: var(--brand-color);
  padding: 6.25rem 1.875rem;
}

.planning-container {
  flex-direction: column;
  gap: 2.5rem;
}

.planning-container img {
  width: 90%;
}

.planning-container > .flex {
  flex-direction: column;
  gap: 4.0625rem;
}

.planning-container .developement-box {
  flex-direction: column;
  gap: 2.5rem;
}

.planning-container p {
  color: white;
  font-size: 1rem;
}

.planning-container h2 {
  color: white;
  font-size: 1.35rem;
}

.developement-box {
  background-color: white;
  padding: 2.1875rem 1.875rem;
  border-radius: 1.25rem;
  align-items: center;
}

.developement-box i {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}

.developement-box h3 {
  font-size: 1.35rem;
}

.developement-box .icon-box {
  background-color: var(--brand-color);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all linear;
  cursor: pointer;
}

.developement-box .icon-box:hover {
  background-color: #6d62ff;
}

/* TESTIMONIALS SECTION */

.testimonials-section {
  padding: 6.25rem 1.875rem;
}

.testimonials-section .icon-wrapper i {
  color: white;
}

.testimonials-section .icon-wrapper:first-of-type {
  transform: translateY(-0.25rem);
}

.testimonials-section .icon-wrapper:last-of-type {
  transform: translateY(0.4375rem);
}

.testimonials-section .row {
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  text-align: center;
}

.testimonials-section .row h2 {
  font-size: 2rem;
  color: var(--brand-color);
}
.testimonials-section .row span,
.testimonials-section .row p {
  font-weight: 600;
}

.testimonial-card {
  flex-direction: column;
  background-color: var(--brand-color);
  gap: 2.5rem;
  border-radius: 3.125rem;
  padding: 1.875rem;
}

.testimonial-text {
  flex-direction: column;
  gap: 2.5rem;
}

.testimonial-card figure {
  align-self: center;
}

.testimonial-text span,
.testimonial-text strong {
  color: white;
  text-align: center;
  font-weight: 600;
}

.testimonial-text strong {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.testimonial-card figure {
  width: 60%;
}

.testimonial-card figure img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* BENEFITS SECTION */

.benefits-section {
  background-color: var(--brand-color);
  padding: 6.25rem 1.875rem;
}

.benefits-section .row {
  row-gap: 3.125rem;
}

.benefits-section h2 {
  text-align: center;
  margin-bottom: 6.25rem;
  color: white;
  font-size: 1.8rem;
}

.benefits-card {
  flex-direction: column;
  background-color: white;
  border-radius: 1.25rem;
  gap: 1.875rem;
  padding: 2.1875rem 1.875rem;
}

.benefits-card h3,
.benefits-card .benefits-number {
  color: var(--brand-color);
  font-size: 1.3rem;
}

.benefits-card .benefits-number {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1;
}

.btn-more {
  width: 9.375rem;
  background-color: var(--brand-color);
}

.btn-more:hover {
  background-color: #6d62ff;
}

/* ABOUT US SECTION */

.about-section {
  padding: 6.25rem 1.875rem;
}

.about-cointainer {
  flex-direction: column;
}

.text-about h2 {
  font-size: 2rem;
  color: var(--brand-color);
  margin-bottom: 3.125rem;
}

.text-about {
  flex-direction: column;
}

.text-about p {
  padding-bottom: 4.375rem;
}

.ceo-section figure img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.ceo-section figure {
  width: 60%;
  position: relative;
}

.ceo-section figure .fa-quote-left {
  position: absolute;
  top: -0.625rem;
  right: 0.1875rem;
  font-size: 4.0625rem;
  color: var(--brand-color);
}

.ceo-section {
  flex-direction: column;
  max-width: 25rem;
  gap: 1.25rem;
}

.about-btn {
  width: 13.75rem;
  background-color: var(--brand-color);
}

.about-btn:hover {
  background-color: #6d62ff;
}

.ceo-section span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--brand-color);
}

/* FOOTER */

.get-started-section {
  padding: 5rem 1.875rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 3.125rem;
}

.get-started-section p {
  color: white;
  font-size: 300;
}

.get-started-section .flex-line {
  color: white;
}

.get-started-section .icon-wrapper i {
  font-size: 0.3125rem;
}

.get-started-section h3 {
  color: white;
  font-size: 2rem;
  min-width: 18.75rem;
}

.get-started-section p:first-of-type {
  min-width: 18.75rem;
}

.get-started-section h2 {
  color: var(--footer-title-color);
  font-size: 2.8rem;
  white-space: nowrap;
}

.get-strated-btn {
  background-color: white;
  width: unset;
  padding: 1.5625rem 5rem;
  color: var(--brand-color);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
  white-space: nowrap;
}

.get-strated-btn:hover {
  background-color: var(--footer-title-color);
  color: white;
}

.flex-line {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-black .container-sm div {
  padding: 5rem 1.875rem;
  padding-bottom: 3.125rem;
  text-align: center;
}

.bg-black p {
  color: white;
  padding-bottom: 1.875rem;
}

.bg-black .link {
  color: var(--brand-color);
}

/* MEDIA */

@media (min-width: 9.375rem) {
  .hero-container .col-8 {
    width: 100%;
  }
  .hero-container .col-4 {
    width: 100%;
  }
}

@media (min-width: 48rem) {
  .hero-container .col-8 {
    width: calc((100% / 12) * 8 - 1rem);
  }
  .hero-container .col-4 {
    width: calc((100% / 12) * 4 - 1rem);
  }

  .hero-card {
    height: 100%;
  }

  .hero-container .row {
    justify-content: space-between;
  }

  .hero-container .btn {
    width: auto;
    padding: 0.3125rem 3.125rem;
  }

  .hero-text a {
    align-self: flex-start;
  }

  .hero-img img {
    width: 45%;
  }
  .planning-container img {
    align-self: center;
  }
  .planning-container h2 {
    font-size: 2.5rem;
  }
  .testimonial-card {
    flex-direction: row;
    align-items: center;
    padding: 3.125rem;
  }
  .testimonial-card strong,
  .testimonial-card span {
    text-align: left;
  }

  .testimonial-card figure {
    width: 70%;
  }

  .testimonial-text {
    gap: 1.25rem;
  }

  .benefits-section .row {
    justify-content: space-between;
    row-gap: 1.875rem;
  }

  .benefits-section .col-fluid {
    width: calc((100% / 12) * 6 - 0.9375rem);
  }

  .benefits-section h2 {
    font-size: 2.3rem;
  }
  .about-cointainer {
    flex-direction: row;
    column-gap: 7.5rem;
  }
  .about-btn {
    width: unset;
    padding: 0rem 0.9375rem;
    white-space: nowrap;
    transform: translateX(-0.625rem);
  }
  .ceo-section {
    align-items: flex-start;
  }

  .ceo-section figure {
    width: 100%;
    position: relative;
  }
}

@media (min-width: 62rem) {
  .navbar ul {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
  }

  .navbar ul li {
    color: white;
    transition: 0.3s color;
  }

  .navbar ul li:hover {
    color: var(--brand-color);
  }

  .navbar i {
    display: none;
  }

  .navbar .btn {
    line-height: 1;
    background-color: white;
    color: var(--text-color);
    padding: 0.5rem 0.625rem;
  }
  .navbar .btn:hover {
    background-color: var(--text-color);
    color: white;
  }

  .hero-card {
    flex-direction: row;
  }
  .hero-card figure {
    align-self: flex-end;
  }
  .hero-card img {
    width: 100%;
  }
  .planning-container {
    flex-direction: row;
  }

  .planning-container img {
    max-width: 80%;
  }
  .developement-box {
    align-self: flex-end;
    padding: 1.5625rem;
  }
  .planning-container h2 {
    font-size: 1.35rem;
  }

  .developement-box i {
    line-height: 1.4;
  }
  .planning-container {
    gap: 1.875rem;
  }

  .planning-container > .flex {
    gap: 3.125rem;
  }

  .planning-container h2 {
    margin-top: 2.1875rem;
  }

  .planning-container .developement-box {
    gap: 1.875rem;
  }

  .testimonial-card figure {
    width: 50%;
  }
  .benefits-section .row {
    justify-content: space-between;
    row-gap: 1.875rem;
  }

  .benefits-section .col-fluid {
    width: calc((100% / 12) * 4 - 1.25rem);
  }
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
}
