/* GENRAL SETTINGS */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
strong,
li,
span,
h1,
h2,
h3,
h4,
a,
button {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 700;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
li,
button {
  cursor: pointer;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.container-lg {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-fluid {
  width: calc((100% / 12) * 12);
}

.flex {
  display: flex;
}

.btn {
  background-color: var(--navbar-bg);
  color: white;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #47a1fc;
}

.text-center {
  text-align: center;
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

:root {
  --navbar-bg: #0084fd;
  --hero-cards-bg: #b5ddff;
  --brand-color: #9792e4;
  --footer-title-color: #fdc15f;
  --text-color: #333333;
}

/* NAVBAR */

.navbar {
  background-color: var(--navbar-bg);
}

.navbar ul {
  display: none;
}

.navbar .flex {
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.navbar i.fa-bars {
  cursor: pointer;
}

.logo {
  width: 55px;
}

.navbar .fa-bars {
  color: white;
}

/* HERO SECTION */
.hero-container {
  padding: 30px;
}
.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.btn i.fa-apple {
  color: white;
  font-size: 20px;
}

.hero-container .row {
  row-gap: 30px;
}

.hero-card {
  flex-direction: column;
  background-color: var(--hero-cards-bg);
  padding: 30px 30px;
  gap: 50px;
  border-radius: 20px;
}

.hero-card.pb-0 {
  padding-bottom: 0px;
}

.hero-card h2 {
  color: var(--navbar-bg);
  font-size: 1.35rem;
}

.hero-card figure img {
  display: block;
}

.hero-text {
  flex-direction: column;
  gap: 50px;
}

.hero-text i.fa-solid {
  color: var(--navbar-bg);
  font-size: 100px;
  height: 50px;
  align-self: center;
  margin-top: 50px;
}

.hero-text p {
  font-size: 1rem;
}

.hero-text a {
  align-self: center;
}

/* PLANNING SECTION */

.planning-section {
  background-color: var(--brand-color);
  padding: 100px 30px;
}

.planning-container {
  flex-direction: column;
  gap: 40px;
}

.planning-container img {
  width: 90%;
}

.planning-container > .flex {
  flex-direction: column;
  gap: 65px;
}

.planning-container .developement-box {
  flex-direction: column;
  gap: 40px;
}

.planning-container p {
  color: white;
  font-size: 1rem;
}

.planning-container h2 {
  color: white;
  font-size: 1.35rem;
}

.developement-box {
  background-color: white;
  padding: 35px 30px;
  border-radius: 20px;
  align-items: center;
}

.developement-box i {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}

.developement-box h3 {
  font-size: 1.35rem;
}

.developement-box .icon-box {
  background-color: var(--brand-color);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all linear;
  cursor: pointer;
}

.developement-box .icon-box:hover {
  background-color: #6d62ff;
}

/* TESTIMONIALS SECTION */

.testimonials-section {
  padding: 100px 30px;
}

.testimonials-section .icon-wrapper i {
  color: white;
}

.testimonials-section .icon-wrapper:first-of-type {
  transform: translateY(-4px);
}

.testimonials-section .icon-wrapper:last-of-type {
  transform: translateY(7px);
}

.testimonials-section .row {
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.testimonials-section .row h2 {
  font-size: 2rem;
  color: var(--brand-color);
}
.testimonials-section .row span,
.testimonials-section .row p {
  font-weight: 600;
}

.testimonial-card {
  flex-direction: column;
  background-color: var(--brand-color);
  gap: 40px;
  border-radius: 50px;
  padding: 30px;
}

.testimonial-text {
  flex-direction: column;
  gap: 40px;
}

.testimonial-card figure {
  align-self: center;
}

.testimonial-text span,
.testimonial-text strong {
  color: white;
  text-align: center;
  font-weight: 600;
}

.testimonial-text strong {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.testimonial-card figure {
  width: 60%;
}

.testimonial-card figure img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* MEDIA */

@media (min-width: 150px) {
  .hero-container .col-8 {
    width: 100%;
  }
  .hero-container .col-4 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero-container .col-8 {
    width: calc((100% / 12) * 8 - 16px);
  }
  .hero-container .col-4 {
    width: calc((100% / 12) * 4 - 16px);
  }

  .hero-card {
    height: 100%;
  }

  .hero-container .row {
    justify-content: space-between;
  }

  .btn {
    width: auto;
    padding: 5px 50px;
  }

  .hero-text a {
    align-self: flex-start;
  }

  .hero-img img {
    width: 45%;
  }
  .planning-container img {
    align-self: center;
  }
  .planning-container h2 {
    font-size: 2.5rem;
  }
  .testimonial-card {
    flex-direction: row;
    align-items: center;
    padding: 50px;
  }
  .testimonial-card strong,
  .testimonial-card span {
    text-align: left;
  }

  .testimonial-card figure {
    width: 70%;
  }

  .testimonial-text {
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .navbar ul {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .navbar ul li {
    color: white;
    transition: 0.3s color;
  }

  .navbar ul li:hover {
    color: var(--brand-color);
  }

  .navbar i {
    display: none;
  }

  .navbar .btn {
    line-height: 1;
    background-color: white;
    color: var(--text-color);
    padding: 8px 10px;
  }
  .navbar .btn:hover {
    background-color: var(--text-color);
    color: white;
  }

  .hero-card {
    flex-direction: row;
  }
  .hero-card figure {
    align-self: flex-end;
  }
  .hero-card img {
    width: 100%;
  }
  .planning-container {
    flex-direction: row;
  }

  .planning-container img {
    max-width: 80%;
  }
  .developement-box {
    align-self: flex-end;
    padding: 25px;
  }
  .planning-container h2 {
    font-size: 1.35rem;
  }

  .developement-box i {
    line-height: 1.4;
  }
  .planning-container {
    gap: 30px;
  }

  .planning-container > .flex {
    gap: 50px;
  }

  .planning-container h2 {
    margin-top: 35px;
  }

  .planning-container .developement-box {
    gap: 30px;
  }

  .testimonial-card figure {
    width: 50%;
  }
}
